<div class="container pt-4">
  <h1>Here is the <%= @shift.user.name %>'s shift for <%= @shift.started_at.strftime("%d/%m/%Y") %></h1>
  <div class="mt-5">
    <%= render "form", organisation: @organisation, shift: @shift %>
  </div>
</div>
